@font-face {
  font-family: 'Moderat Black';
  src: url('fonts/Moderat-Black.woff');
}
@font-face {
  font-family: 'Moderat Regular';
  src: url('fonts/Moderat-Regular.woff');
}
:root {
  --main-background: rgb(248, 245, 243);
}
body {
  font-family: "Moderat Regular";
  letter-spacing: 0.5px;
  background-color: var(--main-background);
}
/* ---- NAV ------- */

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
nav {
  padding: 2vh 6vw 0 5vw;
}
.cherri:hover, .about div:hover {
  font-weight: 800;
  cursor: pointer;
}
.about {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
}
.about div {
  padding-right: 20px;
}

.projects:hover {
  font-weight: 800;
  cursor: pointer;
}

/* ---------FOOTER----------- */
.home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.lives {
  padding: 0 6vw 5vh 5vw;
}
.score {
  color: rgb(222, 210, 192);
  text-align: center;
  transition: (all)
}
#points {
  font-size: 24px;
}

.projects {
  padding: 0 6vw 5vh 5vw;
}
.projects img {
  max-width: 18px;
}



/* ---- WORLD STYLES ---- */

#world {
  width: 90vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
}

#pac {
  display: inline-block;
}

#pac img {
  height: 50px;
}
.ghost {
  display: inline-block;
}
.ghost img {
  height: 50px;
}

.cherry {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.cherry img {
  max-width: 40px;
}
.space {
  width: 10px;
  display: inline-block;
}
.world-letter {
  display: inline-block;
}
.eaten {
  width: 25px;
  display: inline-block;
}
.world-char {
  display: inline-block;
}

/* ---------- PROJECTS ---------- */
.project-container {
  background-color: var(--main-background);
}
h1 {
  margin: 10px 0;
}
.grid-container {
  padding: 5vh 10vw;
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: space-evenly;
}
.grid-child {
  padding: 10px 0px;
}
.grid-child p {
  margin: 5px 0;
}
.projects-footer {
  padding: 2vh 6vw 0 5vw;
}
.projects-footer:hover {
  font-weight: 800;
  cursor: pointer;
}
.rotate-arrow {
  transform: rotate(180deg);
  max-width: 18px;
}
.tech-stack {
  color: rgb(73,74,79);
}