@font-face {
  font-family: 'Moderat Black';
  src: url('fonts/Moderat-Black.woff');
}
@font-face {
  font-family: 'Moderat Regular';
  src: url('fonts/Moderat-Regular.woff');
}
:root {
  --main-background: rgb(248, 245, 243);
  --main-green: rgb(39, 211, 0);
}
body {
  font-family: "Moderat Regular";
  letter-spacing: 0.5px;
  background-color: var(--main-background);
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-weight: 800;
  color: var(--main-green);
}
/* ---- NAV ------- */

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
}
nav {
  padding: 2vh 6vw 0 5vw;
}
.cherri:hover, .about div:hover {
  font-weight: 800;
  cursor: pointer;
}
.about {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
}
.about div {
  padding-right: 20px;
}

.projects:hover {
  font-weight: 800;
  cursor: pointer;
}

/* ---------FOOTER----------- */
.home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.lives {
  padding: 0 6vw 5vh 5vw;
}
.score {
  color: rgb(222, 210, 192);
  text-align: center;
}
#points {
  font-size: 24px;
  padding-top: 10px;
}
#points-text {
  line-height: 0.5;
}
.projects {
  padding: 0 6vw 5vh 5vw;
}
.projects img {
  max-width: 18px;
}
.designed {
  color: rgb(222, 210, 192);
  text-align: center;
}
.designed a {
  color: rgb(222, 210, 192);  
}
.designed a:hover {
  color: var(--main-green);
}

/* ---- WORLD STYLES ---- */

.world-container {
  display: flex;
  justify-content: center;
}
#world {
  font-size: 48px;
  margin-top: 1vh;
}

#pac {
  display: inline-block;
}

#pac img {
  height: 50px;
}
.ghost {
  display: inline-block;
}
.ghost img {
  height: 50px;
}

.cherry {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.cherry img {
  max-width: 40px;
}
.space {
  width: 10px;
  display: inline-block;
}
.world-letter {
  display: inline-block;
}
.eaten {
  width: 25px;
  display: inline-block;
}
.world-char {
  display: inline-block;
}

/* ---------- PROJECTS ---------- */
.project-container {
  background-color: var(--main-background);
}
h1 {
  margin: 10px 0;
}
.grid-container {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  grid-gap: 0 5vw;
}
.grid-element {
  height: 320px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  margin-top: -80px;
}
.grid-element p {
  margin: 5px 0;
}
.grid-element:hover {
  border-radius: 100%;
  background-color: var(--main-background);
  cursor: pointer;
  color: var(--main-green);
}
.projects-footer {
  padding: 2vh 6vw 0 5vw;
  position: fixed;
  bottom: 5vh;
}
.projects-footer:hover {
  font-weight: 800;
  cursor: pointer;
}
.rotate-arrow {
  transform: rotate(180deg);
  max-width: 18px;
}
